.main {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(238, 237, 244);
}
.name {
    text-align: center;
    padding-top: 25px;
    font-size: 22px;
}
.about {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.work {
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
}
.position {
    color: rgb(48, 44, 114);
}
.list {
    text-align: justify;
}
.social {
    padding-top: 12px;
}
