body {
    padding: 10px;
    background-color: #49494900;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
.main {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-right: 300px;
    height: 1200px;
    background-color: #494949;
}
.first-block {
    height: 505px;
    border-radius: 15px;
    box-sizing: border-box;
    width: 823px;
    margin-left: 38px;
    background-color: #f3ac44;
}
.img {
    display: inline-block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    left:35px;
    top:35px;
    border: 4px solid #494949;
    float: left;

}
.name {
    width:550px;
    height:100px;
    position:relative;
    left:70px;
    top:100px;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 17px;
    color: #494949;
    
    margin-left: 200px;
}
.prof {
    width: 400px;
    height: 21px;
    left: 95px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 17px;
    color: #f3ac44;
    background-color: #494949; 
    text-align: center;
    padding: 13px;
    margin-left: 316px;
    margin-top: 50px;
    border-radius: 30px;
}
.points {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #494949;
}
.profile {
   
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 17px;
    text-align: center;
    margin-left: 0px;
    margin-top: 50px;
    border-radius: 30px;
    border: 3px solid #494949;
    background-color: #f3ac44;
    
    padding-left: 20px;
    padding-right: 20px;
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #494949;
    margin-left: 40px;
    margin-right: 45px;
    text-align: justify;
}

    
    