.footer__item1 p, .item2-made, .item2-dev, .item3-list li {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #262A3F;
  opacity: 0.6;
}

.footer__item2 {
  display: flex;
  justify-content: center;

  .item2-dev {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08em;
    opacity: 1;
    padding-left: 12px;
  }
}

.footer__item3 {
  display: flex;
  justify-content: flex-end;

  .item3-list {
    display: flex;

    li {
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.08em;
      padding-left: 32px;
      opacity: 1;

      a {
        color: #262A3F;
      }
    }
  }
}