@media (max-width: 768px) {

  body.lock {
    overflow: hidden;
  }

  .header__menu {
    display: none;
  }

  .light-dark-mode {
    margin-right: 15px;
  }

  .home__bg::after {
    display: none;
  }

  .home__content {
    padding: 160px 15px 345px 50px;

    h1 {
      font-size: 30px;
    }
  }

  .section-info__conteiner {
    height: 100%;

    .section-info__items {
      display: flex;
      flex-direction: column;
      height: 1600px;
  
      .home__section-info-left {
        position: static;
        margin-top: 0;
        width: 100%;
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        grid-template-areas: 
        "grid1"
        "grid2"
        "grid3"
        "grid4"
        "grid5"
        "grid6";
  
        .home__item {
          
          .home__deco-line {
            margin: auto;
            margin-top: 40px;
          }
        
          h4 {
            font-size: 56px;
          }
        }

        .info4 p {
          padding-top: 20px;
        }
  
        div {
          margin: auto;

          .home__section-info-button {
            padding-top: 50px;
          }
        }
      }
    }
  }

  .about__conteiner {
    padding: 0 0 50px 0;

    .about__items {
      padding-top: 0;
      grid-template-columns: 1fr;
  
      .about__item {
        height: 270px;
        padding: 0 15px;
        max-width: 350px;
        margin: auto;
  
        &:last-child {
          border-top: 1px solid #E4E4E4;
        }

        h2 {
          padding: 20px 0 10px 0;
          font-size: 28px;
        }
        
        p {
          padding-bottom: 50px;
        }
      }
    }
  }

  .quote__content {
    padding: 30px;

    svg {
      left: -25px;
      top: -13px;
      transform: scale(0.4);
    }

    .quote__article {
      font-size: 16px;
      line-height: 25px;
      padding: 0;
    }

    p {
      font-size: 14px;
      padding: 15px 0;
    }
  }

  .products__conteiner {
    padding-top: 50px;

    .products__video .video-play {
      width: 60px;
      height: 60px;

      &::before {
        left: 25px;
        border-top-width: 10px;
        border-bottom-width: 10px;
        border-left-width: 19px;
      }
    }

    .products__content {
      text-align: center;
    }
  }

  .use-cases__conteiner {
    min-height: 660px;
    height: 100%;
    background:url(../../src/img/features-background-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0;

    .use-cases__items {
      padding-top: 50px;
    
      .use-cases__info-right img {
        visibility: hidden;
      }
    }
      .use-cases__info-left {
       background: none;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(4, 1fr);
       grid-template-areas: 
       "case1"
       "case2"
       "case3"
       "case4";
       padding: 20px;
       text-align: center;
       row-gap: 20px;
       margin-top: 0;
  
       .use-cases__item h4, .use-cases__item ul li, .use-cases__item p {
        color: #fff;
       }
    }
  }

  .pricing__items {
    width: 370px;
    margin: auto;
    padding-top: 0;

    .pricing__title {
      max-width: 1170px;
      width: 100%;
      text-align: center;
    }
  
    .pricing__cards {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }
  }

  .resources__items {
    grid-template-columns: 1fr;
    align-items: center;

    .resources__contacts {
      text-align: center;
      padding-bottom: 30px;
    }

    .resources__form {
      padding: 0 40px 0 0;
      margin: auto;
    }
  }

  .footer__items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "foo2 foo3"
        "foo1 foo1";
    padding: 20px 0;
  }

  .footer__item1 {
    grid-area: foo1;
    text-align: center;
    padding-top: 20px;

    p {
      font-size: 12px;
    }
  }

  .footer__item2 {
    grid-area: foo2;
    justify-content: flex-start;
    flex-direction: column;

    .item2-dev {
      padding-left: 0;
      font-size: 12px;
    }
  }

  .footer__item3 {
    grid-area: foo3;

    .item3-list {
      display: flex;
      flex-direction: column;
    }
  }

  .header__conteiner .header__items {
    display: flex;
    justify-content: space-between;

    .header__burger-menu  {
      display: block;
      position: absolute;
      top: 62px;
      right: 93px;
    }
  }
}

@media (max-width: 370px) {

  .pricing__items {
    width: 300px;

    .pricing__cards {
      padding: 10px 20px;

      .pricing__card {

        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}