@font-face {
  font-family: "Montserrat";
  src: url(../../src/fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../src/fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url(../../src/fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../../src/fonts/OpenSans-Italic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../../src/fonts/SourceSansPro-Regular.woff2);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

.social {
  display: flex;
  gap: 20px;
}

.social .social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.social .social-item i {
  top: 5px;
  left: 5px;
}

.header {
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  position: relative;
}

.header .container {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 700px;
  position: relative;
}

.header .the_slider {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.header .the_slider .s_slide {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}

.header .the_slider .s_slider_container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header .the_slider .s_slider_container:active {
  cursor: -webkit-grabbing;
}

.header .the_slider .s_slide_0 {
  background-image: url("../../src/img/bg_home1.webp");
  background-size: cover;
}

.header .the_slider .s_slide_1 {
  background-image: url("../../src/img/bg_home2.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .the_slider .s_slide_2 {
  background-image: url("../../src/img/bg_home3.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .the_slider .s_slide_3 {
  background-image: url("../../src/img/bg_home4.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .the_slider .s_slide_4 {
  background-image: url("../../src/img/bg_home5.webp");
  opacity: 0.5;
  background-size: cover;
}

.header .header__main-conteiner {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.header .header__main-conteiner .header__conteiner {
  max-width: 1600px;
  width: 100%;
  color: #FFFFFF;
  position: absolute;
  top: 0;
}

.header .header__main-conteiner .header__conteiner .header__nav {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 15px 0 15px;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu {
  max-width: 515px;
  width: 100%;
  margin: auto;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items {
  display: flex;
  justify-content: space-between;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item {
  display: flex;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item .header__menu-label {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 14px;
  cursor: pointer;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item .header__menu-label a {
  color: #FFFFFF;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item input[type=radio] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item input[type=radio]:after {
  width: 7px;
  height: 7px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.header .header__main-conteiner .header__conteiner .header__nav .header__nav-items .header__menu .header__menu-items .header__menu-item input[type=radio]:checked:after {
  width: 7px;
  height: 7px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: #FFFFFF;
  content: "";
  display: inline-block;
  visibility: visible;
}

.header .header__main-conteiner .header__conteiner .sticky_header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 15px;
  background: #7E5AFF;
  max-width: none;
  padding: 15px 0;
  z-index: 2;
}

.header .header__main-conteiner .header__conteiner .sticky_header .header__nav-items {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.header .header__main-conteiner .header__conteiner .header__heading {
  max-width: 925px;
  width: 100%;
  margin: auto;
  padding-top: 223px;
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
}

.header .header__main-conteiner .header__conteiner .header__heading h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
}

.header .header__main-conteiner .header__conteiner .header__heading p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
}

.header .header__main-conteiner .header__conteiner .header__dots {
  position: absolute;
  top: 295px;
  right: 52px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header .header__main-conteiner .header__conteiner .header__dots input[type=radio] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.header .header__main-conteiner .header__conteiner .header__dots input[type=radio]:after {
  width: 8px;
  height: 8px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.header .header__main-conteiner .header__conteiner .header__dots input[type=radio]:checked:after {
  width: 8px;
  height: 8px;
  border-radius: 15px;
  top: 0;
  position: relative;
  background-color: #FFFFFF;
  content: "";
  display: inline-block;
  visibility: visible;
}

.header .header__main-conteiner .header__conteiner .header__scroll {
  padding-bottom: 50px;
  margin-top: 240px;
  display: flex;
  justify-content: center;
}

.header .header__main-conteiner .header__conteiner .header__scroll .header__scroll-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.about .about__conteiner {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.about .about__conteiner .about__title {
  text-align: center;
}

.about .about__conteiner .about__title svg {
  margin: 100px 0 30px 0;
}

.about .about__conteiner .about__title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.about .about__conteiner .about__items {
  padding: 90px 0 150px 0;
  display: flex;
  flex-direction: column;
  gap: 177px;
}

.about .about__conteiner .about__items .about__item {
  display: flex;
  justify-content: space-between;
}

.about .about__conteiner .about__items .about__item .item-img1 {
  position: relative;
}

.about .about__conteiner .about__items .about__item .item-img1 div {
  width: 585px;
  height: 470px;
  background: #55B7FF;
}

.about .about__conteiner .about__items .about__item .item-img1 img {
  position: absolute;
  top: 57px;
  left: 215px;
}

.about .about__conteiner .about__items .about__item .item-img2 {
  position: relative;
}

.about .about__conteiner .about__items .about__item .item-img2 div {
  width: 585px;
  height: 470px;
  background: #7E5AFF;
}

.about .about__conteiner .about__items .about__item .item-img2 img {
  position: absolute;
  top: 57px;
  right: 215px;
}

.about .about__conteiner .about__items .about__item .item-content {
  max-width: 476px;
  width: 100%;
  padding-top: 151px;
  margin-left: 140px;
  margin-right: 140px;
}

.about .about__conteiner .about__items .about__item .item-content .content-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.about .about__conteiner .about__items .about__item .item-content h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}

.about .about__conteiner .about__items .about__item .item-content .content-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  padding-top: 19px;
}

.about .about__conteiner .about__items .about__item .item-content button {
  width: 190px;
  height: 50px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: none;
  margin-top: 40px;
}

.about .about__conteiner .about__items .about__item .item-content a {
  display: block;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-top: 60px;
}

.news {
  position: relative;
}

.news .news__bg {
  background: url(../../src/img/bg_news.webp);
  background-size: cover;
}

.news .news__bg .news__conteiner {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.news .news__bg .news__conteiner .news__title {
  text-align: center;
}

.news .news__bg .news__conteiner .news__title svg {
  margin: 120px 0 30px 0;
}

.news .news__bg .news__conteiner .news__title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}

.news .news__bg .news__conteiner .news__wrapper-main {
  display: flex;
  align-items: center;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items {
  padding: 90px 15px 170px 15px;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content {
  background: #FFFFFF;
  padding: 30px 20px;
  width: 370px;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .content-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  padding: 15px 0 46px 0;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author {
  display: flex;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author .author_name_date {
  padding-left: 20px;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author .author_name_date .author_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
}

.news .news__bg .news__conteiner .news__wrapper-main .news__wrapper .news__items .news__item .news_content .news__author .author_name_date .author_date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
  padding-top: 6px;
}

.gallery .gallery__title {
  text-align: center;
}

.gallery .gallery__title svg {
  margin: 150px 0 30px 0;
}

.gallery .gallery__title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.gallery .gallery__items {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img1 img2 img4" "img1 img1 img3 img5";
  gap: 10px;
  padding-top: 90px;
}

.gallery .gallery__items .gallery__item1 {
  grid-area: img1;
}

.gallery .gallery__items .gallery__item2 {
  grid-area: img2;
}

.gallery .gallery__items .gallery__item3 {
  grid-area: img3;
}

.gallery .gallery__items .gallery__item4 {
  grid-area: img4;
}

.gallery .gallery__items .gallery__item5 {
  grid-area: img5;
}

.gallery .gallery__button {
  display: flex;
  justify-content: center;
}

.gallery .gallery__button button {
  margin: 60px 0 150px 0;
  width: 190px;
  height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: none;
}

.fancybox__image {
  width: 580px;
  height: 438px;
}

.contacts .contacts__conteiner {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  position: relative;
}

.contacts .contacts__conteiner .contacts__map {
  background: rgb(222, 212, 212);
  height: 700px;
}

.contacts .contacts__conteiner .contacts__tab {
  max-width: 770px;
  width: 100%;
  margin: auto;
  background: #FFF;
  padding: 0 60px;
  position: absolute;
  top: 621px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-title {
  text-align: center;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-title svg {
  margin: 60px 0 30px 0;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content {
  display: flex;
  padding: 42px 0 68px 0;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item span,
.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-text .contacts__tab-item span i {
  color: #7E5AFF;
  padding-right: 5px;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form {
  padding-left: 50px;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form {
  display: flex;
  flex-direction: column;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form input {
  width: 310px;
  border: none;
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4B5562;
  opacity: 0.5;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .input-style {
  opacity: 1;
  font-style: normal;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__tab-email {
  padding-top: 33px;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button {
  display: flex;
  justify-content: flex-end;
}

.contacts .contacts__conteiner .contacts__tab .contacts__tab-content .contacts__tab-form form .contacts__form-button button {
  width: 140px;
  height: 50px;
  background: none;
  border: 1px solid #2C4058;
  margin-top: 30px;
}

.footer .footer__bg {
  background: url(../../src/img/bg_footer.webp);
  background-size: cover;
}

.footer .footer__bg .footer__conteiner {
  max-width: 770px;
  width: 100%;
  margin: auto;
  padding: 203px 0 234px 0;
}

.footer .footer__bg .footer__conteiner .footer__main {
  display: flex;
  justify-content: space-between;
}

.footer .footer__bg .footer__conteiner .footer__bottom {
  padding-top: 41px;
}

.footer .footer__bg .footer__conteiner .footer__bottom p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 120px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 40px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #FFFFFF;
  background-color: var(--swiper-pagination-bullet-inactive-background-color, #fff);
}

.swiper-next,
.swiper-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.sl-slider-wrapper {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.sl-slider {
  position: absolute;
  top: 0;
  left: 0;
}

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sl-slide {
  z-index: 1;
}

.sl-content-slice {
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
}

.sl-slide-horizontal .sl-content-slice {
  width: 100%;
  height: 50%;
  left: -200px;
  transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
  top: -200px;
  padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-of-type(2) {
  top: 50%;
  padding: 0px 200px 200px 200px;
}

.sl-slide-vertical .sl-content-slice {
  width: 50%;
  height: 100%;
  top: -200px;
  transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
  left: -200px;
  padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-of-type(2) {
  left: 50%;
  padding: 200px 200px 200px 0px;
}

.sl-content-wrapper {
  position: absolute;
}

.sl-content {
  width: 100%;
  height: 100%;
  background: #fff;
}

.sl-slide-horizontal .sl-slide-inner {
  background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
  background: #ccc;
}

@media (max-width: 1200px) {
  .about .about__conteiner .about__items {
    gap: 0;
  }

  .about .about__conteiner .about__items .about__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "news-grid1" "news-grid2" "news-grid4" "news-grid3";
    gap: 15px;
    justify-items: center;
  }

  .about .about__conteiner .about__items .about__item .news-grid1 {
    grid-area: news-grid1;
  }

  .about .about__conteiner .about__items .about__item .news-grid2 {
    grid-area: news-grid2;
  }

  .about .about__conteiner .about__items .about__item .news-grid3 {
    grid-area: news-grid3;
  }

  .about .about__conteiner .about__items .about__item .news-grid4 {
    grid-area: news-grid4;
  }

  .about .about__conteiner .about__items .about__item .item-img1 div,
  .about .about__conteiner .about__items .about__item .item-img2 div {
    display: none;
  }

  .about .about__conteiner .about__items .about__item .item-img1 img,
  .about .about__conteiner .about__items .about__item .item-img2 img {
    position: static;
  }

  .about .about__conteiner .about__items .about__item .item-content {
    padding-top: 50px;
    max-width: 800px;
    text-align: center;
  }
}