@font-face {
  font-family: Gilroy-Bold;
    src: local("fonts/Gilroy-Bold.woff"),
         local("fonts/Gilroy-Bold.woff"),
         url('fonts/Gilroy-Bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: Gilroy-Medium;
    src: local("fonts/Gilroy-Medium.woff"),
         local("fonts/Gilroy-Medium.woff"),
         url('fonts/Gilroy-Medium.woff');
  font-weight: medium;
}
body {
  font-family: 'Gilroy-Bold', sans-serif;
}
.conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.header_wrap {
  max-width: 944px;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  display: inline;
  padding-right: 10px;
  margin-top: 30px;
}
.menu__item a {
  text-decoration: none;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 22px;
  padding-left: 10px;

color: #828282;
}
.menu__item a:hover {
  color: #070707;
}
.menu::after {
  max-width: 940px;
  width: 100%;
  height: 1px;
  content: '';
  display: block;
  position: absolute;
  background: #828282;
  top: 80px;
}
#name {
  font-family: 'Gilroy-Bold';
  font-size: 47px;
  line-height: 59px;
  color: #070707;
  padding-top: 30px;
  max-width: 123px;
  margin-bottom: -16px;
  padding-left: 10px;
}
.name__about {
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
.name_wrap {
  max-width: 944px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
}
.name__lang {
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  transform: rotate(-90deg);
  padding-top: 33px;
  display: inline-flex;
}
.name__lang a {
  text-decoration: none;
  padding: 5px;
  color: #828282;
}
.name__lang a:hover {
  color: black;
}
.name__lang p {
  padding-top: 4px;
}
.photo {
  margin-top: 49px;
    width: 100%;
    height: auto;
    margin-bottom: 104px;
    max-width: 943px;
}
.full-photo {
  display: none;
}
#about {
  width: 100%;
  height: 500px;
  background: #F6F6F6;
  text-align: center;
}
.about__wrap {
  max-width: 485px;
  margin: auto;
}
#about h2{
  margin: 100px 0 0 0;
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.about__denis {
  margin-top: 50px;
}
.about__denis-mobilescreen {
  display: none;
}
.about__denis p{
  margin-bottom: 30px;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}
#skills {
  width: 100%;
  height: auto;
}
.skills__wrap {
  max-width: 934px;
  width: 100%;
  margin: auto;
}
.skills-programs {
  display: flex;
}
#skills h2{
  margin: 100px 0 20px 0;
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
#skills p{
  margin: 0;
  font-family: 'Open Sans';
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}
.skills-programs {
  padding-top: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 111px;
}
.skills-programs__img .figma {
  padding-bottom: 40px;
  width: 70%;
}
.skills-programs__items {
  max-width: 564px;
  width: 100%;
  height: auto;
  text-align: center;
}
.skills-programs__img {
  max-width: 89px;
  height: auto;
  margin: auto;
}
.skills-programs__item {
  width: 100%;
  padding-bottom: 25px;
}
.skills-programs__items figcaption{
  margin-bottom: 60px;
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #828282;
}
.stars__wrap {
  max-width: 167px;
  height: auto;
  margin: auto;
}
.skills-programs-stars {
  width: 100%;
}
#portfolio {
  width: 100%;
  height: auto;
  background: #F6F6F6;
}
.portfolio__wrap {
  max-width: 934px;
  margin: auto;
}
.portfolio__title {
  margin: 100px 0 50px 0;
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.portfolio__img {
  width: 100%;
  height: auto;
}
.portfolio__link{
  display: block;
  text-align: center;
  margin: 40px 0 70px 0;
}
.portfolio__link a{
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}
#contacts {
  width: 100%;
  height: auto;
}
.contacts__wrap {
  max-width: 1440px;
  width: 100%;
  
  margin: 0 auto;
}
#contacts h2 {
  margin: 100px 0 20px 0;
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.contacts__title{
  padding-bottom: 29px;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}
.contacts__button {
  text-align: center;
}
.contacts__button button{
  margin-bottom: 86px;
  width: 180px;
  height: 44px;
  background: #070707;
  border-radius: 22px;
  color: #FFFFFF;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 22px;
}
.contacts__social-network {
  height: 40px;
  text-align: center;
  margin:0 0 45px 60px;
}
.contacts__social-network a{
  width: 40px;
  height: 40px;
  margin-right: 60px;
}
.contacts__denis {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 123px;
}

@media screen and (max-width: 376px) { 
 
  .header_wrap {
    display: none;
  }
  .name_wrap {
    display: block;
    padding-top: 65px;
    max-width: 316px;
    width: 100%;
  }
  .name__lang {
    display: none;
  }
  #name {
    padding: 0;
    line-height: 58px;
  }
  .name__about {
    padding-top: 23px;
    padding-bottom: 37px;
  }
  .photo {
    display: none;
  }
  .full-photo {
    display: block;
    width: 100%;
    max-width: 316px;
  }
  #about {
    margin-top: 83px;
  }
  .about__denis p {
    padding: 0 30px;
  }
  .about__denis-fullscreen {
    display: none;
  }
  .about__denis-mobilescreen {
    display: inline;
  }
  .skills-programs {
    display: flex;
    flex-direction: column;
    padding-top: 71px;
    padding-bottom: 17px;
  }
  #skills h2 {
    margin-top: 83px;
    margin-bottom: 50px;
  }
  .skills-programs__items figcaption {
    margin-bottom: 40px;
  }
  .skills-programs__items {
    padding-bottom: 81px;
  }
  .portfolio__title {
    margin-top: 81px;
    margin-bottom: 65px;
  }
  .portfolio__img {
    max-width: 316px;
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
  }
  #contacts h2 {
    margin-top: 82px;
    margin-bottom: 27px;
  }
  .contacts__title {
    padding-bottom: 40px;
  }
  .contacts__button button {
    width: 316px;
    margin-bottom: 48px;
  }
  .contacts__social-network {
    display: flex;
    margin-left: 33px;
    margin-bottom: 49px;
  }
  .contacts__social-network a {
    margin-right: 30px;
  }
  .contacts__denis {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 90px;
  }
}