.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 120px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 40px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #FFFFFF;
  background-color: var(--swiper-pagination-bullet-inactive-background-color, #fff);
}

.swiper-next, .swiper-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  top: 50%;
  position: absolute;
}

.swiper-next {
  right: 15px;
}

.swiper-prev {
  left: 30px;
}

@media (max-width: 768px) {
  .dot_nav {
    display: none;
  }
}