body {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  width: 100%;
  height: 700px;
  background: #E5E5E5;
  margin: 0 auto;
  margin-top: 50px;
}

.section1 {
  width: 570px;
  height: 590px;
  margin-top: 55px;
  margin-left: 135px;
  margin-bottom: 55px;
  background: #FFFFFF;
  border-radius: 6px;
  padding-left: 34px;
}

.section2 {
  width: 570px;
  height: 590px;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: 30px;
  background: #FFFFFF;
  border-radius: 6px;
  position: absolute;
}

.section1, .section2 {
  display: inline-block;
}

h1 {
  margin-top: 35px;
}

.name-items input,
.city input {
  box-sizing: border-box;
  width: 255px;
  height: 35px;
  padding-top: 40px;
  padding-left: 34px;
  background: #FFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
}

.name-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "first-name last-name . . .";
  margin-top: 20px;
}

.first-name {
  grid-area: first-name;
}

.last-name {
  grid-area: last-name;
}

.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "country city . . .";
  column-gap: 5px; 
}

.country {
  grid-area: country;
  appearance: none;
  background: url('img/right.png') no-repeat;
  background-position: right 5px top 50%;
}

.location select {
  box-sizing: border-box;
  width: 255px;
  height: 44px;
  padding-left: 10px;
  padding-top: 8px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: rgba(84, 84, 84, 0.5);
}

.count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}

.city {
  grid-area: city;
}

.email input {
  box-sizing: border-box;
  width: 537px;
  height: 30px;
  padding-top: 40px;
  padding-left: 34px;
  background: #FFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
}

.email {
  margin-top: -15px;
}

.email p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #969696;
}

.name-item, .country, .city, .email {
  display: flex;
  flex-direction: column;
}

.section1 label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: -0.2px;
  color: #545454;
}

.sex label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}

.sex {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -5px;
}
.sex input {

}

.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -5px;
}

.button {
  background: #007BFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  width: 537px;
  height: 38px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #FFF;
}

.button:hover {
  background: #1b5592;
  transition: all 0.5s;
}

.button-area {
  padding-top: 20px;
}

.text-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #969696;
}

.terms {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #007BFF;
}

.hr {
  width: 94%; 
  text-align: left; 
  margin-left: 0;
}

.have-acc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 196px;
  margin-top: 15px;
}

.login {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #007BFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

